body{
    margin: 0;
    padding: 10px;
    box-sizing: content-box;
}

.container{
    display: flex;
}

.aktivnosti p{
    margin: 0;
}

.predmeti{
    background-color: rgba(255, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
}

.aktivnosti{
    background-color: rgba(0, 255, 0, 0.4);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

table{
    border-collapse: collapse;
    margin-bottom: 10px;
}

table td{
    border: 1px solid black;
}

table th, table td{
    text-align: center;
    vertical-align: middle;
}

.forma{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 15px 20px;
    min-width: 400px;
    max-width: 650px;
    margin: 15px auto;
    position: relative;
}

form{
    width: 50%;
    margin: 0 auto;
}

#button{
    width: 250px;
}

.validation{
    background-color: lightcoral;
    border-radius: 8px;
    height: 30px;
    width: 300px;
    /*display: flex;*/
    justify-content: center;
    display: none;
}

.validation-container{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.vrijeme:before{
    margin-right:.6em;
    color: black;
}

#pocetak:before{
    content:'Početak:';
}

#kraj:before{
    content:'Kraj:';
}