@media only screen and (max-width: 600px){
    table {
        width: 150px;
    }

    .blank-row, tr td:empty{
        display: none;
    }

    tr {
        display: inline-block;
        width: 150px;
    }

    .tg td, .align-right {
        padding: 8px 0;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 100%;
        border-style: solid;
    }

    .tg .right-dashed-repair,
    td:nth-child(2n),
    td:nth-child(2n+1){
        border-style: solid;
    }

    td{
        margin-top: -1px;
    }

}