@media only screen and (max-width: 600px){
    form{
        width: fit-content;
        margin: 0 auto;
        text-align: right;
    }

    label{
        display: flex;
        font-size: 13px;
    }

    input, select{
        width: 140px;
        margin-bottom: 12px;
        font-size: 11px;
    }
}