.topnav {
    background-color: #333;
    overflow: hidden;
    width: 95vw;
    margin: 15px auto;
    font-family: "Times New Roman", monospace;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}