body{
    margin: 0;
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

tr:hover{
    border: 2px solid black;
}

td{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}