@media only screen and (max-width: 600px){
    .flex-container{
        display: block;
        text-align: center;
        width: available;
    }

    .side-rounded{
        display: block;
        width: 175px;
        height: 175px;
        margin: 0 auto;
    }

    .central-rounded{
        display: block;
        width: 225px;
        height: 225px;
        margin: 15px auto;
    }

    .central-legend,
    .side-rounded #slj-akt{
        margin-left: 0;
    }

    #prethodna{
        display: none;
    }

}