body{
	font-family: Verdana, serif;
}

.tg{
	border-collapse: collapse;
	margin: 0 auto;
}

td{
	width: 20px;
	height: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #e6e6e6;
}

td:nth-child(2n){
	border-left: 1px solid black;
	border-right: 1px dashed black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

td:nth-child(2n + 1){
	border-right: 1px solid black;
	border-left: 1px dashed black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.blank-row{
	vertical-align: bottom;
	text-align: center;
	font-size: 13px;
}

.align-right{
	text-align: right;
	padding-right: 10px;
}

.blue-special{
	background-color: #dee6ef;
	text-align: center;
	vertical-align: top;
}

.tg .blank-row td,
.tg tr td:first-child{
	background-color: transparent;
	border: none;
}

#prvi-dan{
	font-weight: bold;
}

.tip-nastave{
	font-size: 12px;
}