@media only screen and (max-width: 600px){
    table {
        width: 150px;
    }

    .blank-row, tr td:empty{
        display: none;
    }

    tr {
        display: inline-block;
        width: 150px;
    }

    .tg td, .align-right {
        padding: 8px 0;
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    td:not(.align-right){
        border-style: solid!important;
    }

    td{
        margin-top: -1px;
    }

}